.var {}

// Fonts
$fontSize:        14px;
$fontSizeLarge:   18px;
$fontSizeSmall:   11px;
$fontHeaderSize:  38px;
$fontPrimary:     'Karla', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
$fontHeader:      $fontPrimary;
$fontLight:       300;
$fontNormal:      400;
$fontMedium:      500;
$fontBold:        600;
$fontStyle:       normal;
$letterSpacing:   0;
$lineHeight:      1.77;

// Sizes
$sidebarSize:     265px;
$navSize:         60px;
$navSizeMobile:   44px;
$logoSize:        50px;
$logoSizeMobile:  36px;
$padding-xs:      5px;
$padding-sm:      2*$padding-xs;
$padding:         3*$padding-xs;
$padding-md:      4*$padding-xs;
$padding-lg:      5*$padding-xs;
$padding-xl:      6*$padding-xs;

// Bootstrap Grid Breakpoints
$grid-xs:         0;
$grid-sm:         544px;
$grid-md:         768px;
$grid-lg:         992px;
$grid-xl:         1200px;
$grid-xxl:        1400px;

$inputSizeXl:     80px;
$inputSizeLg:     60px;
$inputSizeMd:     50px;
$inputSize:       40px;
$inputSizeSm:     22px;
$inputSizeXs:     18px;

// Colors
$primaryColor:    #5389F7;
$secondaryColor:  #FFD63B;
$tirtiaryColor:   #4680FE;

$textColor:       #222222;
$textColorLight:  #b7b7b7;
$headerColor:     #1D2435;
$textColorDark:   #2c398f;

$white:           #FFFFFF;
$bodyColor:       #F5F7FA;
$bodyColorDark:   #F4F6F8;
$bodyYellow:      #FFDC00;
$borderColor:     rgba(0,0,0,0.05);
$frameColor:      #E5F5FE;
$overlayColor:    rgba(255,255,255,0.5);

// Forms Colors
$greenAlert:      #6FC080;
$redAlert:        #DD6777;
$blueAlert:       #6EC7E6;
$yellowAlert:     #FFCE44;
$ltorange:        lighten($secondaryColor, 20%);
$ltgreen:         #3bffb2;
$pinkAlert:       #FAC0C0;

$boxShadow:       0 2px 2px 1px rgba(119,151,178,0.16);
$boxShadowLg:     0 10px 45px 0 rgba(7,61,125,0.10);
$boxShadowSolid:  4px 4px 0px rgba(34, 45, 125, 0.1);
$boxShadowHover:  0px 20px 40px rgba(0, 0, 0, .2);

// Social Media Brand Colors
$twitter:         #00aced;
$facebook:        #3b5998;
$googleplus:      #dd4b39;
$pinterest:       #cb2027;
$linkedin:        #007bb6;
$youtube:         #bb0000;
$vimeo:           #aad450;
$tumblr:          #32506d;
$instagram:       #517fa4;
$flickr:          #ff0084;
$dribbble:        #ea4c89;
$soundcloud:      #ff3a00;
$behance:         #1769ff;

// Animation Speed
$animateFast: 0.2s;
$animateNormal: 0.3s;
$animateSlow: 0.6s;
$t: 0.3s;
