<head>
    <!-- Le Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le Meta Data -->
    <meta content="{{ site.title }}" property="og:site_name">
    <meta content="{{ title or site.title }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ site.seo.description }}" property="og:description">
    <meta name="description" content="{{ site.seo.description }}">
    <meta name="keywords" content="{{ site.seo.keywords }}">
    <meta content="/images/boot.png" property="og:image">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.owner.twitter }}">
    <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
    <meta name="twitter:title" content="{{ title or site.title }}">
    <meta name="twitter:description" content="{{ site.seo.description }}">

    <!-- Le CSS
    ================================================== -->
    <link rel="stylesheet" href="{{ site.baseurl }}/style/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style/vendor/library.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/style/vendor/jqueryui-flat/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous">
    {% if customCDNCSS %}{% for customCDNCSSFile in customCDNCSS %}
    <link rel="stylesheet" href="{{ customCDNCSSFile }}" crossorigin="anonymous">{% endfor %}{% endif %}
    {% if customCSS %}{% for customCSSFile in customCSS %}
    <link rel="stylesheet" href="{{ site.baseurl }}/style/{{ customCSSFile }}">{% endfor %}{% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/style/core/style.min.css">

    <!-- Le Javascript Pre-loads
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Le Page Specific Codes
    ================================================== -->
    {% if customStyle %}
        {% for customPage in customStyle %}
            {% include customPage %}
        {% endfor %}
    {% endif %}

    <!-- Le Favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{{ site.baseurl }}/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Le Buy Me a Coffee
    ================================================== -->
    <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="shipon" data-description="Support me on Buy me a coffee!" data-message="Thank you for visiting. You can now buy me a coffee!" data-color="#FF5F5F" data-position="" data-x_margin="18" data-y_margin="18"></script>
</head>
