<div id="loader-wrapper" class="beeback-loading">
    <div id="loader">
        <div class="bee">
            <div class="bee-body">
                <div class="line"></div>
            </div>
            <div>
                <div class="wing-right"></div>
                <div class="wing-left"></div>
            </div>
            <div class="bee-path">
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
                <div class="pollen"></div>
            </div>
        </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
