{% assign current = page.url | downcase | split: '/' %}

<!-- Main Menu -->
<div class="topbar sidebar-closed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <a href="#" class="menu-toggle">
                    <i class="feather icon-menu"></i>
                </a>
            </div>
            <div class="col-md-7 text-right">
                <ul>
                    <li>
                        <a href="#"><i class="feather icon-settings"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="feather icon-bell"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
