{% assign current = page.url | downcase | split: '/' %}

<!-- Main Menu -->
<div class="sidebar sidebar-open">
    <div class="logo">
        <span class="logo-emblem">BA</span>
        <span class="logo-full">Bootadmin</span>
    </div>
    <ul>
        <li class="spacer"></li>
        <li class="profile">
            <span class="profile-image">
                <img src="{{ site.baseurl }}/images/profile.png" alt="profile" />
            </span>
            <span class="profile-name">
                Daniel Craig
            </span>
            <span class="profile-info">
                Premium User
            </span>
        </li>
        <li class="spacer"></li>
        <li class="title">
            <i class="feather icon-more-horizontal"></i>
            <span class="menu-title">Main</span>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed wave-effect" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="feather icon-grid"></i>
                <span class="menu-title">Dashboard</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="page-layouts">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link wave-effect collapsed" data-toggle="collapse" href="#nav-2" aria-expanded="false" aria-controls="page-layouts">
                <i class="feather icon-layout"></i>
                <span class="menu-title">Page Layouts</span>
                <i class="feather icon-chevron-down down-arrow"></i>
            </a>
            <div class="collapse" id="nav-2">
                <ul class="flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wave-effect" href="pages/layout/boxed-layout.html">
                            <i class="feather icon-link"></i>
                            <span class="menu-title">Boxed</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="title">
            <i class="feather icon-more-horizontal"></i>
            <span class="menu-title">Another Title</span>
        </li>
    </ul>
</div>
