{% assign current = page.url | downcase | split: '/' %}

<!-- Main Menu -->
<div class="sidebar">
    <ul>
        <li class="profile">
            <span class="profile-image">
                <img src="{{ site.baseurl }}/images/profile.png" alt="profile" />
            </span>
            <span class="profile-name">
                Daniel Craig
            </span>
            <span class="profile-info">
                Premium User
            </span>
        </li>
        <li>
            Main
        </li>
        <li
    </ul>
</div>
