.sidebar {
    display: block;
    width: $sidebarSize;
    position: fixed;
    left: 0;
    top: $navSize;
    bottom: 0;
    overflow-y: auto;
    background: white;
    z-index: 10;
    font-size: $fontSize - 1px;
    @include transition(all .4s ease);

    span, div, ul, li, a, i {
        @include transition(all 0.2s linear)
    }

    &.sidebar-open {
        width: $sidebarSize;
        @include transition(all .4s ease);
    }

    &.sidebar-closed:not(:hover) {
        width: $navSize;

        .title, .down-arrow {
            height: 0;
            width: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        > ul {
            padding: 0;
            margin: 0;

            > li {
                position: relative;

                &.profile {
                    padding: 0;
                    width: $navSize;

                    .profile-image {
                        left: ($navSize - $inputSize)/2;
                    }

                    .profile-name, .profile-info {
                        width: 0;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                    }
                }

                &.nav-item {
                    a {
                        padding: 0;
                        line-height: $navSize;
                        height: $navSize;
                        width: $navSize;
                        text-align: center;
                        @include transition(all 0.2s linear)

                        i {
                            margin: 0;
                            font-size: $fontSizeLarge;
                            display: block;
                        }

                        .menu-title {
                            opacity: 0;
                            width: 0;
                            overflow: hidden;
                            @include transition(all 0.2s linear)
                        }
                    }
                }

                .collapse {
                    position: absolute;
                    background: white;
                    left: $navSize;
                    top: 0;
                    width: 250px;
                }
            }
        }
    }

    > ul {
        margin: 0;
        padding: 0;

        > li {
            white-space: nowrap;
            border-bottom: 1px solid $borderColor;
            position: relative;

            &.profile {
                padding: $padding $padding;
                position: relative;
                padding-left: $inputSizeXl;
                height: 70px;
                border-top: 1px solid $borderColor;

                span {
                    display: block;
                    margin: 0;
                    padding: 0;
                    line-height: 1.3;

                    &.profile-image {
                        position: absolute;
                        width: $inputSize;
                        left: $padding-xl;
                        top: $padding + 2px;

                        img {
                            max-width: 100%;
                        }
                    }

                    &.profile-name {
                        margin-top: $padding-xs - 1px;
                    }

                    &.profile-info {
                        font-weight: $fontNormal;
                        color: $textColorLight;
                    }
                }
            }

            &.title {
                padding: $padding-sm $padding-lg 0;
                //font-weight: $fontBold;
                border: none;
                text-transform: uppercase;
                font-size: $fontSize - 3px;
                color: $textColorLight;
            }

            &.nav-item {
                > a {
                    padding: $padding-sm ($padding-xl + $padding-sm) $padding-sm $padding-lg;
                    position: relative;

                    i {
                        display: inline-block;
                        margin-right: $padding-sm;
                        color: $primaryColor;
                        z-index: 3px;
                        position: relative;
                        background: white;

                        &.down-arrow {
                            color: $textColorLight;
                            position: absolute;
                            right: $padding-sm;
                        }
                    }
                }

                ul.sub-menu {
                    padding-left: 2*$padding-lg - 3px;

                    li {
                        list-style-type: square;
                        color: $textColorLight;

                        a {
                            color: lighten($textColor, 25%);
                            padding-left: $padding-sm - 1px;

                            &:hover {
                                color: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
}