.sidebar {
    display: block;
    width: $sidebarSize;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    z-index: 10;
    font-size: $fontSize - 1px;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    @include transition(all .4s ease);

    span, div, ul, li, a, i {
        @include transition(all $animateFast linear)
    }

    .logo {
        display: block;
        width: 100%;
        height: $navSize;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: $fontBold;
        font-size: $fontSize;
        letter-spacing: 0.05em;
        border-bottom: 1px solid $borderColor;
        @extend %clearfix;

        a {
            display: block;
        }

        .logo-emblem {
            display: block;
            width: $navSize;
            height: $navSize;
            line-height: $navSize;
            color: $primaryColor;
            text-align: center;
            float: left;

            img {
                max-width: $logoSizeMobile;
                max-height: $logoSizeMobile;
            }
        }

        .logo-full {
            display: block;
            height: $navSize;
            line-height: $navSize;
            float: left;
            width: $sidebarSize - $navSize - $padding;
        }
    }

    > ul {
        margin: 0;
        padding: 0;

        > li {
            white-space: nowrap;
            position: relative;
            display: block;

            &.spacer {
                display: block;
                height: $inputSizeXxs;
            }

            &.profile {
                display: block;
                padding: $padding-sm $padding;
                position: relative;
                padding-left: $navSize;
                height: $navSize;

                span {
                    display: block;
                    margin: 0;
                    padding: 0;
                    line-height: 1.3;

                    &.profile-image {
                        position: absolute;
                        width: $navSize;
                        height: $navSize;
                        left: 0;
                        top: 0;
                        padding: $padding;

                        img {
                            display: block;
                            width: $navSize - 2*$padding;
                            height: $navSize - 2*$padding;
                            @include border-radius(50%);
                            overflow: hidden;
                        }
                    }

                    &.profile-name {
                        font-weight: $fontMedium;
                        padding-top: 3px;
                    }

                    &.profile-info {
                        font-weight: $fontNormal;
                        color: $textColorLight;
                    }
                }
            }

            &.button-container {
                padding: 0 $padding;
            }

            &.title {
                padding: 0;
                text-transform: uppercase;
                font-size: $fontSize - 3px;
                color: $textColorLight;
                position: relative;
                width: auto;
                height: $inputSize;
                line-height: $inputSize;

                i {
                    display: inline-block;
                    width: $navSize;
                    height: $inputSize;
                    line-height: $inputSize;
                    z-index: 3px;
                    position: relative;
                    font-size: $fontSizexSmall;
                    text-align: center;
                    color: $textColorLight;
                }
            }

            &.nav-item {
                > a {
                    display: block;
                    padding: 0;
                    position: relative;
                    line-height: $inputSize - 2px;
                    color: $textColor;

                    i {
                        display: inline-block;
                        width: $navSize;
                        height: $inputSize;
                        line-height: $inputSize;
                        z-index: 3;
                        position: relative;
                        text-align: center;
                        font-size: $fontSizeLarge;

                        &.down-arrow {
                            color: $textColorLight;
                            position: absolute;
                            right: 0;
                            font-size: $fontSize;
                            width: $navSize;
                            height: $inputSize;
                            @include transform(rotate(-90deg));
                        }
                    }

                    .menu-title {
                        position: relative;
                        top: -2px;
                    }

                    &:not(.collapsed):not(.nav-single) {
                        background: $bodyColorLight;
                        color: $textColorDark;

                        i.down-arrow {
                            @include transform(rotate(0));
                        }
                    }

                    &:hover {
                        background: $bodyColorLight;
                    }
                }

                ul.sub-menu {
                    display: block;
                    position: relative;
                    padding-left: 0;

                    li {
                        list-style-type: square;
                        color: $textColorLight;
                        list-style-type: none;

                        a {
                            padding: 0;
                            position: relative;
                            line-height: $inputSize;
                            color: lighten($textColor, 25%);

                            i {
                                display: inline-block;
                                width: $navSize;
                                height: $inputSize;
                                line-height: $inputSize;
                                z-index: 3;
                                position: relative;
                                text-align: center;
                                font-size: $fontSizeSmall;
                            }

                            &:hover {
                                color: $primaryColor;
                                background: $bodyColorLight;
                            }
                        }
                    }
                }
            }
        }
    }

    &.sidebar-dark {
        background: $sidebarDark;
        color: $textColorLight;

        .logo {
            border-color: $textColor;

            .logo-full {
                color: $textColorLight;
            }
        }

        ul {
            li {
                &.nav-item {
                    a {
                        color: $textColorLight;

                        &:hover, &:not(.collapsed):not(.nav-single) {
                            background: $sidebarDarkDropdown;
                            color: $textColorLight;
                        }
                    }

                    .collapse {
                        background: $sidebarDarkDropdown;
                        color: $textColorLight;

                        a:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.sidebar-open {
    .topbar {
        padding-left: $sidebarSize;
    }

    .sidebar {
        width: $sidebarSize;
        @include transition(all .4s ease);
    }

    main {
        padding-left: $sidebarSize;
        @include transition(all .4s ease);
    }

    @media screen and (max-width: ($grid-md - 1px)){
        .topbar {
            padding-left: 0;
        }
    }
}

.sidebar-closed:not(.horizontal) {
    .topbar {}

    .sidebar:not(:hover) {
        width: $navSize;

        .down-arrow {
            height: 0;
            width: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        > ul {
            padding: 0;
            margin: 0;

            > li {
                position: relative;

                &.profile {
                    height: $navSize;

                    .profile-name, .profile-info {
                        overflow: hidden;
                        display: none;
                    }
                }

                &.title {
                    i {
                        margin: 0;
                        display: block;
                    }

                    .menu-title {
                        @include opacity(0)
                        width: 0;
                        display: none;
                        overflow: hidden;
                        @include transition(all $animateFast linear)
                    }
                }

                &.nav-item {
                    a {
                        padding: 0;
                        line-height: $inputSize;
                        height: $inputSize;
                        width: $navSize;
                        text-align: center;
                        @include transition(all $animateFast linear)

                        i {
                            margin: 0;
                            display: block;

                            &.down-arrow {
                                right: -100px;
                                @include opacity(0);
                                @include transition(all 0.5s linear)
                            }
                        }

                        .menu-title {
                            @include opacity(0)
                            width: 0;
                            display: none;
                            overflow: hidden;
                            @include transition(all 0.3s linear)
                            @include transition(all $animateFast linear)
                        }
                    }
                }
            }
        }
    }
}

/** Offcanvas Menu **/
.offcanvas-toggle {
    &.active {
        background: $redAlert !important;
        color: white !important;
    }
}

.offcanvas-menu {
    display: block;
    width: $sidebarSize;
    height: calc(100vh - $navSize);
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    z-index: 20;
    font-size: $fontSize - 1px;
    box-shadow: -1px 0 20px rgba(0,0,0,.08);
    @include transition(all .4s ease);

    &.open {
        right: 0;
    }

    .offcanvas-button {
        a.btn {
            border: 1px solid $borderColor;
            height: $navSize;
            line-height: $navSize;
            padding: 0;
            @include border-radius(0);

            &:hover {
                background: $redAlert;
                color: white;
            }
        }
    }

    .offcanvas-title {
        font-size: $fontSize;
        padding: $padding-sm $padding;
        font-weight: $fontBold;
        margin: 0;
    }

    @media screen and (max-width: ($grid-md - 1px)){
        top: 0;
        bottom: $navSizeMobile;
    }
}
