.btn {
    border-color: $borderColor;
}

img, .img-responsive {
    max-width: 100%;
}

.btn {
    &.btn-primary {
        color: white !important;
    }
}

.progress {
    margin-bottom: $padding-sm;
}

.dropdown-menu {
    border: 1px solid $borderColor;
    color: $textColor;
    @include border-radius(5px);
    @include box-shadow(0 0 25px 0 rgba(0, 0, 0, 0.08));

    li, .dropdown-item {
        //padding: 0;
        background: transparent !important;

        a {
            display: block;
            padding: $padding-xs $padding-lg;
        }
    }
}

.or-separator {
    display: block;
    width: 70%;
    margin: $padding auto;
    position: relative;
    border-bottom: 2px dashed $borderColor;
    text-align: center;
    color: $textColorLight;

    span {
        position: relative;
        z-index: 2;
        background: white;
        padding: 0 $padding;
        bottom: -12px;
    }
}

// Displays
.display {
    $b: &;

    &-none {
        display: none !important;
    }

    &-block {
        display: block !important;
    }

    &-inline {
        display: inline !important;
    }

    &-inline-block {
        display: inline-block !important;
    }

    &-table {
        display: table !important;
    }

    &-flex {
        display: flex !important;
    }
}

.no {
    $b: &;

    &-margin {
        margin: 0 !important;
    }

    &-margin-bottom {
        margin-bottom: 0 !important;
    }

    &-margin-top {
        margin-top: 0 !important;
    }

    &-margin-left {
        margin-left: 0 !important;
    }

    &-padding {
        padding: 0 !important;
    }

    &-padding-left {
        padding-left: 0 !important;
    }

    &-padding-top {
        padding-top: 0 !important;
    }

    &-padding-right {
        padding-right: 0 !important;
    }

    &-padding-bottom {
        padding-bottom: 0 !important;
    }

    &-borders {
        border: none !important;
    }

    &-style {
        border: none !important;
        text-decoration: none !important;
        font-style: normal !important;
        font-weight: normal !important;
        background: transparent !important;
        color: $textColor !important;
    }
}

// Backgrounds
.bg {
    $b: &;

    &-dark, &-blue, &-red, &-green {
        color: white;

        h1, h2, h3, h4, h5, h6, a, .lead {
            color: white;
        }
    }

    &-dark {
        background: $bodyColorDark;
    }

    &-white {
        background: white;
    }

    &-grey, &-gray {
        background: $bodyColor;
    }

    &-red {
        background: $redAlert !important;
    }

    &-green {
        background: $greenAlert !important;
    }

    &-blue {
        background: $blueAlert !important;
    }

    &-yellow {
        background: $yellowAlert !important;
        color: $textColor;
    }

    &-ltorange {
        background: $ltorange !important;
        color: $textColor;
    }

    &-image {
        position: relative;

        .bg-image-holder {
            will-change: transform, top;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover !important;
            background-position: 50% 50%;
            z-index: 0;
            @include transition(0.3s linear);

            &.bg-contain {
                background-size: contain !important;
            }

            img {
                display: none;
            }
        }
    }

    &-gradient {
        @extend %gradient;

        h1, h2, h3, h4, h5, h6, p {
            color: white;
        }
    }

    &-gradient-bluegreen {
        @include linear-gradient(to bottom right, #00c589 0,#00aeef 75%);

        h1, h2, h3, h4, h5, h6, p {
            color: white;
        }
    }
}

.pri-sec-gradient {
    background: linear-gradient(150deg, #007bff, #7952b3);
}

.sec-pri-gradient {
    background: linear-gradient(150deg, #7952b3, #007bff);
}

.pri-gradient-lighter {
    background: linear-gradient(150deg, #007bff, #66b0ff);
}

.pri-gradient-darker {
    background: linear-gradient(150deg, #007bff, #004a99);
}

.sec-gradient-lighter {
    background: linear-gradient(150deg, #7952b3, #b099d2);
}

.sec-gradient-darker {
    background: linear-gradient(150deg, #7952b3, #49316e);
}

.dark-gradient {
    background: linear-gradient(150deg, #000, #495057);
    color: white !important;
}

.light-gradient {
    background: linear-gradient(150deg, #fff, #dee2e6);
    color: #495057 !important;
}

.brand-text-gradient {
    background: -webkit-linear-gradient(left, #007bff, #7952b3);
    background: linear-gradient(left, #007bff, #7952b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// colors
.color {
    $b: &;

    &-dark {
        color: $bodyColorDark;
    }

    &-white {
        color: white;
    }

    &-grey, &-gray {
        color: #666;
    }

    &-textColor {
        color: $textColor !important;
    }

    &-red {
        color: $redAlert !important;
    }

    &-primary {
        color: $primaryColor !important;
    }

    &-green {
        color: $greenAlert !important;
    }

    &-blue {
        color: $blueAlert !important;
    }

    &-yellow {
        color: $yellowAlert !important;
    }

    &-ltorange {
        color: $ltorange !important;
    }
}

.has {
    $b: &;

    &-overlay {
        &:before {
            position: absolute;
            content: '';
            background: $bodyColorDark;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            @include opacity(.65);
        }

        > div:not(.bg-image-holder) {
            z-index: 1;
            color: white;

            h1, h2, h3, h4, h5, h6, a, .lead {
                color: white;
            }
        }
    }

    &-shadow {
        @include box-shadow($boxShadowLg);
    }

    &-shadow-long {
        @include box-shadow($boxShadowHover);
    }
}

// Font Colors
.text {
    $b: &;

    &-light {
        color: $textColorLight !important;
    }

    &-primary {
        color: $primaryColor !important;
    }
}

// Font-Sizes
.font {
    $b: &;

    &-small {
        font-size: $fontSizeSmall;
    }

    &-13 {
        @include font-size(13);
    }

    &-14 {
        @include font-size(14);
    }

    &-15 {
        @include font-size(15);
    }

    &-16 {
        @include font-size(16);
    }

    &-17 {
        @include font-size(17);
    }

    &-18 {
        @include font-size(18);
    }

    &-19 {
        @include font-size(19);
    }

    &-20 {
        @include font-size(20);
    }
}

// Hr
hr {
    width: 100%;
    border-color: $borderColor;
    margin: 1rem 0;
}

// Image Effects
.image, .card {
    max-width: 100%;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
    $b: &;

    .img, img {
        position: relative;
        max-width: 100%;
        z-index: 1;
    }

    &-rounded {
        @include border-radius(5px);
        overflow: hidden;
    }

    &-circle {
        @include border-radius(50%);
        overflow: hidden;
    }

    &-shadow {
        @include box-shadow(0 5px 15px rgba(0,0,0,0.15));
    }
}

.image.image-rounded {
    img {
        @include border-radius(5px);
    }
}
