/*
* Theme: Bootadmin
* Author: Sazzad Hossain
* Author URL: http://sazzad.me
*/

/** Fonts **/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/** Import **/
@import "asset/variables";
@import "asset/mixins";
@import "base";
@import "classhelper";

/** Navigation **/
@import "components/loader";

/** Navigation **/
//@import "components/topbar";
.topbar {
    background: $primaryColor;
    height: $navSize;
    line-height: $navSize;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
    padding-left: $navSize;
    color: white;

    &.sidebar-open {
        padding-left: $sidebarSize;
    }

    [class^="col-md-"] {
        padding: 0;
    }

    a {
        color: white;
    }

    .menu-toggle {
        display: inline-block;
        line-height: $navSize;
        padding: 0 $padding;
        vertical-align: middle;
        width: $navSize;

        i {
            display: inline-block;
            margin-right: $padding-sm;
            text-align: center;
            font-size: $fontSizeLarge;
        }
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;

        li {
            display: block;
            float: right;

            &:first-child {
                border-left: 1px solid $borderColor;

                a:hover {
                    background: $primaryColor;
                    color: white;
                    @include transition(all .2s linear);
                }
            }

            a {
                display: block;
                text-align: center;
                min-width: $navSize;
                line-height: $navSize;
                color: white;
                @include transition(all .2s linear);

                i {
                    font-size: $fontSizeLarge;
                }
            }
        }
    }
}

/** Sidebar **/
//@import "components/sidebar";
.sidebar {
    display: block;
    width: $sidebarSize;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background: white;
    z-index: 10;
    font-size: $fontSize - 1px;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    @include transition(all .4s ease);

    span, div, ul, li, a, i {
        @include transition(all 0.2s linear)
    }

    .logo {
        display: block;
        width: 100%;
        height: $navSize;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: $fontBold;
        font-size: $fontSize;
        letter-spacing: 0.05em;

        .logo-emblem {
            display: inline-block;
            width: $navSize;
            height: $navSize;
            line-height: $navSize;
            color: $primaryColor;
            text-align: center;
        }
    }

    &.sidebar-open {
        width: $sidebarSize;
        @include transition(all .4s ease);
    }

    &.sidebar-closed:not(:hover) {
        width: $navSize;

        .down-arrow {
            height: 0;
            width: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        > ul {
            padding: 0;
            margin: 0;

            > li {
                position: relative;

                &.profile {
                    height: $navSize;

                    .profile-name, .profile-info {
                        overflow: hidden;
                        display: none;
                    }
                }

                &.title {
                    i {
                        margin: 0;
                        display: block;
                    }

                    .menu-title {
                        @include opacity(0)
                        width: 0;
                        display: none;
                        overflow: hidden;
                        @include transition(all 0.2s linear)
                    }
                }

                &.nav-item {
                    a {
                        padding: 0;
                        line-height: $inputSize;
                        height: $inputSize;
                        width: $navSize;
                        text-align: center;
                        @include transition(all 0.2s linear)

                        i {
                            margin: 0;
                            display: block;

                            &.down-arrow {
                                display: none;
                                @include opacity(0);
                                @include transition(all 0.5s linear)
                            }
                        }

                        .menu-title {
                            @include opacity(0)
                            width: 0;
                            display: none;
                            overflow: hidden;
                            @include transition(all 0.2s linear)
                        }
                    }
                }
            }
        }
    }

    > ul {
        margin: 0;
        padding: 0;

        > li {
            white-space: nowrap;
            position: relative;
            display: block;

            &.profile {
                display: block;
                padding: $padding-sm $padding;
                position: relative;
                padding-left: $navSize;
                height: $navSize;
                border-top: 1px solid $borderColor;
                border-bottom: 1px solid $borderColor;

                div {
                    display: block;
                    margin: 0;
                    padding: 0;
                    line-height: 1.3;

                    &.profile-image {
                        position: absolute;
                        width: $navSize;
                        height: $navSize;
                        left: 0;
                        top: 0;
                        padding: $padding;

                        img {
                            display: block;
                            max-width: $navSize - 2*$padding;
                        }
                    }

                    &.profile-name {
                        font-weight: $fontMedium;
                        padding-top: 3px;
                    }

                    &.profile-info {
                        font-weight: $fontNormal;
                        color: $textColorLight;
                    }
                }
            }

            &.title {
                padding: 0;
                text-transform: uppercase;
                font-size: $fontSize - 3px;
                color: $textColorLight;
                position: relative;
                width: auto;
                height: $inputSize;
                line-height: $inputSize;

                i {
                    display: inline-block;
                    width: $navSize;
                    height: $inputSize;
                    line-height: $inputSize;
                    z-index: 3px;
                    position: relative;
                    font-size: $fontSizexSmall;
                    text-align: center;
                    color: $textColorLight;
                }
            }

            &.nav-item {
                > a {
                    padding: 0;
                    position: relative;
                    line-height: $inputSize - 2px;
                    color: $textColor;

                    i {
                        display: inline-block;
                        width: $navSize;
                        height: $inputSize;
                        line-height: $inputSize;
                        z-index: 3;
                        position: relative;
                        text-align: center;
                        font-size: $fontSizeLarge;

                        &.down-arrow {
                            color: $textColorLight;
                            position: absolute;
                            right: 0;
                            @include transform(rotate(-90deg));
                        }
                    }

                    .menu-title {
                        position: relative;
                        top: -2px;
                    }

                    &:not(.collapsed) {
                        background: $bodyColorLight;
                        color: $textColorDark;

                        i.down-arrow {
                            @include transform(rotate(0));
                        }
                    }

                    &:hover {
                        background: $bodyColorLight;
                    }
                }

                ul.sub-menu {
                    display: block;
                    position: relative;
                    padding-left: 0;

                    li {
                        list-style-type: square;
                        color: $textColorLight;
                        list-style-type: none;

                        a {
                            padding: 0;
                            position: relative;
                            line-height: $inputSize;
                            color: lighten($textColor, 25%);

                            i {
                                display: inline-block;
                                width: $navSize;
                                height: $inputSize;
                                line-height: $inputSize;
                                z-index: 3;
                                position: relative;
                                text-align: center;
                                font-size: $fontSizexSmall;
                            }

                            &:hover {
                                color: $primaryColor;
                                background: $bodyColorLight;
                            }
                        }
                    }
                }
            }
        }
    }
}

/** Global **/
@import "components/global";


/** Main **/
main {
    padding-top: $navSize;
    padding-left: $navSize;
    @include transition(all .4s ease);

    &.sidebar-open {
        padding-left: $sidebarSize;
        @include transition(all .4s ease);
    }
}

/** Box Elements **/


@media (max-width: ($grid-md - 1px)) {

}
