/*
* Theme: Bootadmin
* Author: Sazzad Hossain
* Author URL: http://sazzad.me
*/

/** Fonts **/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/** Assets **/
@import "asset/variables";
@import "asset/mixins";
@import "base";
@import "classhelper";

/** Loader **/
@import "components/loader";

/** Navigation **/
@import "components/topbar";

/** Sidebar **/
@import "components/sidebar";

/** Components **/
@import "components/cards";
@import "components/gallery";
@import "components/icons";
@import "components/breadcrumb";
@import "components/pagination";
@import "components/forms";
@import "components/tables";

.app {
    $b: &;

    &-email {
        .list-group {
            .list-group-item {
                padding: 0;
                border: none;
                background: transparent;

                &.list-group-item-title {
                    padding: $padding-sm $padding;
                    background: transparent;
                    font-weight: $fontBold;
                }

                a {
                    padding: $padding-sm $padding;
                    background: transparent;

                    &:hover {
                        background: white;
                    }
                }

                &.active a {
                    background: white;
                    @include box-shadow($boxShadow);
                }
            }
        }
    }
}

/*.note-popover.popover {
    position: static;

    &.in {
        display: none;
    }
}

.panel-heading.note-toolbar .dropdown-menu {
    width: auto;

    &.note-check, &.dropdown-style {
        min-width: 200px !important;
    }

    li {
        display: block;
        padding: $padding-xs $padding-sm;

        a {
            padding: 0;
        }
    }
}*/
.note-color-row {
    width: 160px;
}

.dropdown-item pre {
    padding: 0;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: $fontSize;
}

.note-editor.note-frame {
    border-color: $borderColor;
}


// Fullcalendar
.fc-state-default {
	text-shadow: none;
	box-shadow: none;
}

.fc-basic-view .fc-body .fc-row {
	min-height: 5rem;
}

.fc-toolbar {
	.fc-button-group {
		border: 1px solid $primaryColor;
		@include border-radius(4px);
	}

	.fc-button {
		background: $primaryColor;
		color: #fff;
		border: none;
        //font-size: $fontSizeSmall;
		text-transform: uppercase;

		&:hover {
			background: lighten($primaryColor, 7%);
			@include opacity(1);
		}

    	&.fc-state-active {
    		background: #fff;
    		color: $primaryColor;
    	}
	}
}

.fc-widget-header {
	border: 0px !important;
}

.fc-widget-content {
	border-color: rgba(120, 130, 140, 0.13) !important;
	tr {
		border-bottom: none;
	}
}

.fc-view {
	margin-top: 0px;
}

.fc-toolbar {
	margin: 0px;
	padding: $padding-lg 0;
}

.fc-event {
	border: none;
	cursor: move;
	color: #fff !important;
	font-size: 13px;
	margin: 1px -1px 0 -1px;
	padding: 5px 5px;
	text-align: center;
	background: $secondaryColor;
    @include border-radius(2px);
}

.fc td.fc-today {
    background: $bodyColor;
}

.calendar-add-button {
    position: fixed;
    bottom: $padding;
    right: $padding;
    background: $red;
    color: white;
    width: $inputSize + 4px;
    height: $inputSize + 4px;
    line-height: $inputSize + 4px;
    text-align: center;
    font-size: $fontSizexLarge;
    z-index: 4;
    cursor: pointer;
    @include border-radius(50%);
    @include box-shadow($boxShadowHover);

    &:hover {
        background: lighten($red, 10%);
        color: white;
    }
}



/** Main **/
main {
    padding-top: $navSize;
    padding-left: $navSize;
    @include transition(all .4s ease);
}

/** Page Styles **/
.page {
    $b: &;

    &-breadcrumb {
        //background: white;
        padding: $padding;

        h1, h2, h3, h4, h5 {
            margin: 0 0 $padding-xs;
        }

        .page-title {
            font-size: $fontSizeLarge;
            margin: 0 0 $padding-xs;
        }

        .breadcrumb {
            background: transparent;
            padding: 0;
            margin: 0;
            font-size: $fontSizeSmall;
        }
    }
}

/** Error **/
#error {
    min-height: calc(100vh - 180px);
    height: 80vh;

    .error-box {
        max-width: 800px;
        text-align: center;
        padding: $padding-xl $padding-xl 2*$padding-xl;
        margin: 0 auto;
        background: white;
        @include box-shadow($boxShadowLg);
        @include border-radius(4px);
        @include vertical-align();

        .error-image {
            display: block;
            text-align: center;
            margin-bottom: 2rem;

            img {
                max-width: 100%;
            }
        }

        h1 {
            font-size: 2rem;
        }
    }
}

/** Footer **/
footer {
    text-align: center;
    padding: $padding-xl $padding;

    p {
        font-size: $fontSizeSmall;
    }
}

/** Demo Content **/
.grid-demo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

@media (max-width: ($grid-md - 1px)) {
    main {
        padding-left: 0 !important;
    }

    .sidebar {
        left: -100%;
    }
}
